
<footer class="flex justify-center py-14 w-[1880px] bg-[#000000] opactiy-80">
    <div class="flex flex-col items-center">
        <a href="#Top" class="flex flex-col items-center"><img src="/src/icons/flecha.png" alt="Flecha" class="size-3"/>ARRIBA</a>
       <p class="text-white text-center py-4">
        @ Es mi primera <strong>Pagina WEB</strong>, creada con Astro, TailwindCSS, CSS y HTML. Con tutoriales de <strong>Midudev</strong>.
       </p>
       <p class="text-white text-center text-xs py-4">@Gmail: sasha.stankevich223<br/> GitHub: @al3-rom</p>
    </div>
    
</footer>

<style>
    footer a{
        color: white;
        font-size: 1rem;
        font-weight: 400;
       
        }
    footer a:hover{
        color: #ffffff;
    }

  
</style>