<header class="flex justify-between items-center py-8 w-[1880px]" >
   
        <a href="https://astro.build/"><img src="/astro.png" alt="Astro logo" class="w-11 h-11 mx-[19rem]" /></a>     
        <nav class="flex flex-row gap-x-9 opacity-80 justify-end mx-[19rem]">
            <a href="#" class="px-4 py-2 rounded-[4rem] ">About me</a>
            <a href="#" class="px-4 py-2 rounded-[4rem] ">Skills</a>
            <a href="#" class="px-4 py-2 rounded-[4rem] ">Projects</a>
            <a href="#" class="px-4 py-2 rounded-[4rem] ">Contact me</a>
        </nav>

   
   
</header>


<style>
    
    nav a{
        color: #ffffff;
        font-size: 1rem;
        font-weight: 300;
        background-color: #050505;
        }

    nav a:hover{
        color: #050505;
        background-color: #e7e7e7;
 
    }
</style>




