<main class="flex">
  <section class="flex-column w-full lg:w-[700px] mx-auto mr-0 py-[10rem] text-10xl">
    <h1>Hey, soy</h1>
    <h2 class="px-[1rem]">Alejandro Romero</h2>
    <h2 class="px-[6.5rem]">Stankevich</h2>
    <h3 class="px-[9.5rem]">Desarrollador Web</h3>      

    <nav class="flex gap-x-8 mt-8 ml-[9rem]"  id="Redes">
      <a href="#" ><img src="/src/icons/email.png" alt="Email" class="w-9 h-9"></a>
      <a href="#" ><img src="/src//icons/github.png" alt="GitHub" class="w-9 h-9"></a>
      <a href="#" ><img src="/src/icons/linkedin.png" alt="LinkedIn" class="w-9 h-9"></a>
    </nav>

  </section>
  <img src="/IMG.jpg" alt="Foto de perfil" class="w-[27.5rem] h-[33.75rem]" id="FotoPerfil"/>
    
</main>

<style>
  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #000000;
  }

  h2 {
    font-size: 3.5rem;
    font-weight: 600;
    color: #000000;
  }

  h3 {

    font-size: 1.5rem;
    font-weight: 700;
    color: #909090;
  }

  #FotoPerfil {
    border-radius: 6rem;
    margin-right: 23rem;
    margin-top: 5rem;
    box-shadow: rgba(144, 148, 152, 0.48) 6px 4px 16px 5px, rgba(253, 253, 253, 0.8) -6px -4px 16px 5px;
  }


  #Redes a{
    padding: 0.6rem;
    background-color: #C4C4C4;
    border-radius: 0.4rem;
    box-shadow: -2px 4px 5px #a9a9a9;
  }

  #Redes a:hover{
    scale: 1.1;
    transition: 0.2s;
  }

  #Redes a img{
    border-radius: 0.5rem;
  }
 
</style>