<main>
  <section class="flex flex-row items-center w-full py-[2rem]" id="Inicio">
    <div class="2xl:w-[24rem] 2xl:mx-[auto] xl:w-[24rem] xl:mx-[auto] lg:w-[24rem] lg:mx-[auto] md:w-[24rem] md:mx-[auto] sm:mr[auto]"> 
      
      <div class="flex flex-col w-[24rem] 2xl:w-[30rem] xl:w-[30rem] lg:w-[26rem] md:w-[22rem] sm:w-[20rem]">
        <h1 class="2xl:text-[2rem] xl:text-[1.7rem] lg:text-[1.4rem] md:text-[1.4rem] sm:text-[1.3rem]">Hey, soy</h1>
        <h2 class="2xl:text-[3.5rem] xl:text-[3rem] lg:text-[2.7rem] md:text-[2.3rem] sm:text-[2.1rem]">Alejandro Romero Stankevich</h2>
        <h3 class=" 2xl:text-[1.5rem] 2xl:pl-[9rem] 
        xl:text-[1.5rem] xl:pl-[9rem] 
        lg:text-[1.4rem] lg:pl-[8.5rem] 
        md:text-[1.3rem] md:pl-[8.5rem]
        sm:text-[1.3rem] sm:pl-[6.5rem]">Desarrollador Web</h3> 
      </div>
       
  
    <nav class="flex gap-x-8 mt-8 ml-[9rem] 2xl:mt-8 2xl:ml-[9rem] xl:mt-8 xl:ml-[9rem] lg:mt-6 lg:ml-[8rem] md:mt-4 md:ml-[8rem] sm:mt-[2rem] sm:ml-[6rem]"  id="Redes">
      <a href="mailto:sasha.stankevich223@gmail.com" ><img src="/email.png" alt="Email" class="w-9 h-9 2xl:w-9 2xl:h-9 xl:w-9 xl:h-9 lg:w-8 lg:h-8 md:w-7 md:h-7 sm:w-7 sm:h-7"></a>
      <a href="https://github.com/al3-rom" ><img src="/github.png" alt="GitHub" class="w-9 h-9 2xl:w-9 2xl:h-9 xl:w-9 xl:h-9 lg:w-8 lg:h-8 md:w-7 md:h-7 sm:w-7 sm:h-7"></a>
      <a href="https://www.linkedin.com/in/alejandro-romero-stankevich-b42b30241/" ><img src="/linkedin.png" alt="LinkedIn" class="w-9 h-9 2xl:w-9 2xl:h-9 xl:w-9 xl:h-9 lg:w-8 lg:h-8 md:w-7 md:h-7 sm:w-7 sm:h-7"></a>
    </nav>

  </div>

    <div class="image-section">
      <img src="/IMGG.png" alt="Foto de perfil" 
      class="w-[22rem] h-[22rem] opacity-95 transition duration-700 hover:rotate-6 hover:scale-105 
      2xl:w-[24rem] 2xl:h-[28rem] 2xl:mx-[auto] 2xl:mr-[20rem] 2xl:mt-[16%] 
      xl:w-[19rem] xl:h-[23rem] xl:mx-[auto] xl:mr-[13rem] xl:mt-[16%]
      lg:w-[17rem] lg:h-[20rem] lg:mx-[auto] lg:mr-[13rem] lg:mt-[13%]
      md:w-[15rem] md:h-[18rem] md:mx-[auto] md:mr-[5rem] md:mt-[13%]
      sm:w-[15rem] sm:h-[18rem] sm:mx-[auto] sm:mr-[-1rem] sm:mt-[10%]" 
      
      id="FotoPerfil"/>
    </div>

  </section>
 
  <section class="flex flex-col items-center py-[13rem] " id="AboutMe">
    <h2 class="mb-20">SOBRE MI</h2>
    <section class="about-me">
      <p>
        ¡Hola!👋  
        Actualmente estudio <strong>Ciclo Formativo de Grado Superior</strong> de <strong>Desarrollo Web</strong> en un instituto de Vilanova i la Geltrú, mientras dedico mi tiempo libre a mejorar mis habilidades en <strong>Desarrollo Web</strong> haciendo proyectos.
        <br><br>
        <em>¿Qué me define?</em>  
        <ul>
          <li>Trabajo en equipo 🤝</li>
          <li>Proactividad 💡</li>
          <li>Compromiso 🏆</li>
        </ul>
        <br>
        🚀 Busco prácticas para crecer como desarrollador y aportar valor con mis conocimientos. ¡Listo para nuevos retos!
      </p>
    </section>
  </section>

  <section class="flex flex-col items-center py-[5rem] font-semibold opacity-90" id="Skills">
    <h2>HABILIDADES</h2>
    <div class="flex flex-col">
    <h3 class="py-[5rem] pb-8 ">UTILIZO AHORA:</h3>
    <ul class="flex gap-x-10 pb-8 2xl:gap-x-10 xl:gap-x-10 lg:gap-x-8 md:gap-x-6 sm:gap-x-4">
      <li><img src="/html5.png" alt="HTML5">HTML5</li>
      <li><img src="/css.png" alt="CSS3">CSS3</li>
      <li><img src="/tailwindcss.png" alt="Tailwind CSS">Tailwind CSS</li>
      <li><img src="/astro.png" alt="Astro">Astro</li>
      <li><img src="/github.png" alt="GitHub">GitHub</li>
      <li><img src="/js.png" alt="JavaScript">JavaScript</li>
      <li><img src="/python.png" alt="Python">Python</li>
      <li><img src="/xml.png" alt="XML">XML</li>
      <li><img src="/figma.png" alt="Figma">Figma</li>
    </ul>

    <h3 class="pb-8">ESTOY APRENDIENDO:</h3>
    <ul class="flex gap-x-10 pb-8">
      <li><img src="/docker.png" alt="Docker">Docker</li>
      <li><img src="/postgresql.png" alt="PostgreSQL">PostgreSQL</li>
      <li><img src="/sql.png" alt="SQL">SQL</li>    
    </ul>

    <h3 class="pb-8">IDIOMAS:</h3>
    <ul class="flex gap-x-10">
      <li><img src="/castellano.png" alt="Castellano">Castellano C2</li>
      <li><img src="/ruso.png" alt="Ruso" >Ruso C2</li>
      <li><img src="/ingles.png" alt="Ingles">Inglés B2</li>
      <li><img src="/catalan.png" alt="Catalan">Catalan B1</li>
    </ul>
    </div>
  </section>

  <section class="flex flex-col items-center py-[5rem]" id="Curriculum1">
    <h3 class="py-8" id="Curriculum">CURRICULUM</h3>
    <h4 class="py-[3rem] flex flex-col items-center text-2xl md:text-[1.5rem]">Aquí tienes mi currículum! <img src="/flechaA.png" alt="flecha_abajo" class="py-2"> <a href="https://drive.google.com/drive/folders/1cHka-7JPcwb7azjmv8FxqB5q-ellmQoq?usp=sharing"><img src="/CV.png" alt="curriculum_icono"></a></h4>
  </section>
  


</main>

<style>
  #Inicio {
   
    background-image: url("/map.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    
    background-position: 60% 30%;
  }

  @media screen and (max-width: 639px) {
    #Inicio {
      background-image: none;
    
    }
    
  }

 

  @media screen and (min-width: 768px) {
    #Inicio {
      background-size: cover;
      background-position: center
    }
    
  }

  @media screen and (min-width: 1024px) {
    #Inicio {
      background-size: 100%;
      background-position: center
    }
    
  }

  @media screen and (min-width: 1280px) {
    #Inicio {
      background-size: 100%;
      background-position: 50% 50%;
    }
    
  }

  
  @media screen and (min-width: 1457px) {
    #Inicio {
      background-size: 95%;
      background-position: 50% 50%;
    }
    
  }

  
 
  @media screen and (min-width: 1536px) {
    #Inicio {
      background-size: 100%;
      background-position: 50% 50%;
    }
    
  }

  
  @media screen and (min-width: 1772px) {
    #Inicio {
      background-size: 90%;
      background-position: 50% 50%;
    }
    
  }
  
  #Inicio h1 {

    font-weight: 700;
    color: #252525;
    text-shadow: 3px 2px 2px #646464;
 
  }

  #Inicio h2 {
    font-weight: 600;
    color: #252525;
    text-shadow: 3px 2px 2px #646464;
  }

  #Inicio h3 {
    text-shadow: 2px 2px 2px #060606;
    font-weight: 700;
    color: #cacaca;
  }

  #FotoPerfil {
    opacity: 0.95;
    border-radius: 10rem;
    box-shadow: rgba(192, 200, 208, 0.48) 6px 6px 16px 5px, rgba(154, 154, 154, 0.8) -6px -8px 16px 5px;
    transition: transform 0.5s ease, box-shadow 0.5s ease; 
  }


  #Redes a{
    padding: 0.6rem;
    background-color: #C4C4C4;
    border-radius: 0.4rem;
    box-shadow: -2px 4px 5px #414141;
  }

  #Redes a:hover{
    scale: 1.1;
    transition: 0.2s;
  }

  #Redes a img{
    border-radius: 0.5rem;
  }

  #AboutMe h2 {
    font-size: 2rem;
    font-weight: 700;

    color: #000000;
    padding: 1rem 5rem;
    box-shadow: #000000 0px 0px 1px 8px;
  }

  @media screen and (max-width: 768px) {
    #AboutMe h2 {
      font-size: 1.1rem;
    }
    
  }
  
  @media screen and (min-width: 768px) {
    #AboutMe h2 {
      font-size: 1.3rem;
    }
    
  }

  @media screen and (min-width: 1024px) {
    #AboutMe h2 {
      font-size: 1.5rem;
    }
    
  }

  @media screen and (min-width: 1280px) {
    #AboutMe h2 {
      font-size: 1.8rem;
    }
    
  }

  @media screen and (min-width: 1536px) {
    #AboutMe h2 {
      font-size: 2rem;
    }
    
  }

  #Skills h2 {
    font-size: 2rem;
    font-weight: 700;

    color: #000000;
    padding: 1rem 5rem;
    box-shadow: #000000 0px 0px 1px 8px;
  }

  @media screen and (max-width: 768px) {
    #Skills h2 {
      font-size: 1.1rem;
    }
    
  }

  @media screen and (min-width: 768px) {
    #Skills h2 {
      font-size: 1.3rem;
    }
    
  }

  @media screen and (min-width: 1024px) {
    #Skills h2 {
      font-size: 1.6rem;
    }
    
  }

  @media screen and (min-width: 1280px) {
    #Skills h2 {
      font-size: 1.8rem;
    }
    
  }

  @media screen and (min-width: 1536px) {
    #Skills h2 {
      font-size: 2rem;
    }
    
  }

  #Skills h3 {
    font-size: 1.5rem;
    font-weight: 800;
    color: #000000;

  }

  @media screen and (max-width: 768px) {
    #Skills h3 {
      font-size: 1rem;
    }
    
  }

  @media screen and (min-width: 768px) {
    #Skills h3 {
      font-size: 1.25rem;
    }
    
  }

  @media screen and (min-width: 1024px) {
    #Skills h3 {
      font-size: 1.3rem;
    }
    
  }

  @media screen and (min-width: 1280px) {
    #Skills h3 {
      font-size: 1.4rem;
    }
    
  }

  @media screen and (min-width: 1536px) {
    #Skills h3 {
      font-size: 1.5rem;
    }
    
  }

  #Skills img {
    width: 2.5rem;
    height: 2.5rem;
   
  }

  @media screen and (max-width: 768px) {
    #Skills img {
      width: 1.7rem;
      height: 1.7rem;
    }
    
  }

  @media screen and (min-width: 768px) {
    #Skills img {
      width: 2rem;
      height: 2rem;
    }
    
  }

  @media screen and (min-width: 1024px) {
    #Skills img {
      width: 2.2rem;
      height: 2.2rem;
    }
    
  }

  @media screen and (min-width: 1280px) {
    #Skills img {
      width: 2.35rem;
      height: 2.35rem;
    }
    
  }

  @media screen and (min-width: 1536px) {
    #Skills img {
      width: 2.5rem;
      height: 2.5rem;
    }
    
  }

  #Skills img:hover {
    scale: 1.3;
    transition: 0.4s;

  }

  @media screen and (max-width: 768px) {
    #Skills img:hover {
      scale: 1.1;
      transition: 0.4s;
    }
    
  }

  @media screen and (min-width: 768px) {
    #Skills img:hover {
      scale: 1.2;
      transition: 0.4s;
    }
    
  }

  

  @media screen and (min-width: 1280px) {
    #Skills img:hover {
      scale: 1.3;
      transition: 0.4s;
    }
    
  }

 

  #Skills ul {
   text-align: center;
  }

  #Curriculum {
    font-size: 2rem;
    font-weight: 700;

    color: #000000;
    padding: 1rem 5rem;
    box-shadow: #000000 0px 0px 1px 8px;
  }

  @media screen and (max-width: 768px) {
    #Curriculum {
      font-size: 1.1rem;
      font-weight: 600;
    }
    
  }

  @media screen and (min-width: 768px) {
    #Curriculum {
      font-size: 1.3rem;
      font-weight: 600;
    }
    
  }

  @media screen and (min-width: 1024px) {
    #Curriculum {
      font-size: 1.5rem;
      font-weight: 600;
    }
    
  }

  @media screen and (min-width: 1280px) {
    #Curriculum {
      font-size: 1.8rem;
      font-weight: 700;
    }
    
  }

  @media screen and (min-width: 1536px) {
    #Curriculum {
      font-size: 2rem;
      font-weight: 700;
    }
    
  }



  .about-me {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1148%26quot%3b)' fill='none'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1149%26quot%3b)'%3e%3cpath d='M1330 322L1302 294L1274 294L1246 294L1218 294M1274 322L1246 350L1218 350L1190 350L1162 350M1386 294L1358 294L1330 294M1470 294L1442 294L1414 294L1386 294L1358 322L1330 322L1302 322L1274 322L1246 322' stroke='rgba(52%2c 52%2c 52%2c 1)' stroke-width='4.67'%3e%3c/path%3e%3cpath d='M1239 322 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1211 294 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1155 350 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1323 294 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0z' fill='rgba(52%2c 52%2c 52%2c 1)'%3e%3c/path%3e%3cpath d='M1302 266L1274 238M1358 266L1330 238L1302 238M1134 266L1106 238M854 238L826 266M966 266L938 266L910 266M1190 266L1162 294L1134 294L1106 294M1470 266L1442 266L1414 266L1386 266L1358 266L1330 266L1302 266L1274 266L1246 266L1218 266L1190 266L1162 266L1134 266L1106 266L1078 266L1050 266L1022 266L994 266L966 266L938 238L910 238L882 238L854 238L826 238' stroke='rgba(82%2c 82%2c 82%2c 1)' stroke-width='4.67'%3e%3c/path%3e%3cpath d='M819 238 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1267 238 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1295 238 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1099 238 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM819 266 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM903 266 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1099 294 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0z' fill='rgba(82%2c 82%2c 82%2c 1)'%3e%3c/path%3e%3cpath d='M1470 322L1442 322L1414 322L1386 322L1358 350L1330 350' stroke='rgba(52%2c 52%2c 52%2c 1)' stroke-width='4.67'%3e%3c/path%3e%3cpath d='M1323 350 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0z' fill='rgba(52%2c 52%2c 52%2c 1)'%3e%3c/path%3e%3cpath d='M1470 238L1442 238L1414 238L1386 238' stroke='rgba(82%2c 82%2c 82%2c 1)' stroke-width='4.67'%3e%3c/path%3e%3cpath d='M1379 238 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0z' fill='rgba(82%2c 82%2c 82%2c 1)'%3e%3c/path%3e%3cpath d='M322 378L294 406L266 434L238 434L210 434L182 434L154 434M770 378L742 406L714 406L686 406L658 406L630 406L602 406L574 406L546 406L518 406L490 406L462 406L434 406L406 406L378 406L350 406M1050 378L1022 406L994 406L966 406L938 406L910 406L882 406M714 378L686 350L658 322L630 322L602 322L574 294L546 294L518 294L490 294L462 294M294 378L266 378L238 378M826 378L798 350L770 350L742 350L714 350M882 378L854 350M854 378L826 406L798 406L770 406L742 434L714 434L686 434L658 434L630 434L602 434L574 434L546 434L518 434L490 434L462 434L434 434L406 434L378 434M910 378L882 350L854 322L826 322L798 322L770 322L742 322L714 322L686 322L658 294L630 294L602 294L574 266L546 266L518 266L490 266L462 266L434 266M966 378L938 350L910 350M378 378L350 350L322 350L294 350L266 350L238 350L210 350L182 350L154 350M1470 350L1442 350L1414 350L1386 350L1358 378L1330 378L1302 378L1274 378L1246 378L1218 378L1190 378L1162 406L1134 406L1106 406L1078 406L1050 378L1022 378L994 378L966 378L938 378L910 378L882 378L854 378L826 378L798 378L770 378L742 378L714 378L686 378L658 378L630 378L602 378L574 378L546 378L518 378L490 378L462 378L434 378L406 378L378 378L350 378L322 378L294 378L266 406' stroke='rgba(52%2c 52%2c 52%2c 1)' stroke-width='4.67'%3e%3c/path%3e%3cpath d='M259 406 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM147 434 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM343 406 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM875 406 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM455 294 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM231 378 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM707 350 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM847 350 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM371 434 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM427 266 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM903 350 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM147 350 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0z' fill='rgba(52%2c 52%2c 52%2c 1)'%3e%3c/path%3e%3cpath d='M1190 238L1162 210L1134 182L1106 182L1078 182L1050 182L1022 182L994 182L966 182L938 182L910 182L882 182M658 182L630 210M1358 210L1330 182M1274 210L1246 210L1218 210L1190 210L1162 182L1134 154L1106 154L1078 154L1050 126M1022 210L994 238L966 238M602 182L574 210L546 210L518 210L490 210L462 210L434 210M1078 210L1050 238L1022 238M686 182L658 154L630 126M1470 210L1442 210L1414 210L1386 210L1358 210L1330 210L1302 210L1274 210L1246 238L1218 238L1190 238L1162 238L1134 210L1106 210L1078 210L1050 210L1022 210L994 210L966 210L938 210L910 210L882 210L854 210L826 210L798 210L770 210L742 182L714 182L686 182L658 182L630 182L602 182L574 182' stroke='rgba(82%2c 82%2c 82%2c 1)' stroke-width='4.67'%3e%3c/path%3e%3cpath d='M567 182 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM875 182 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM623 210 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1323 182 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1043 126 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM959 238 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM427 210 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1015 238 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM623 126 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0z' fill='rgba(82%2c 82%2c 82%2c 1)'%3e%3c/path%3e%3cpath d='M1470 378L1442 378L1414 378L1386 378L1358 406L1330 406L1302 406L1274 406' stroke='rgba(82%2c 82%2c 82%2c 1)' stroke-width='4.67'%3e%3c/path%3e%3cpath d='M1267 406 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0z' fill='rgba(82%2c 82%2c 82%2c 1)'%3e%3c/path%3e%3cpath d='M994 126L966 98M1218 126L1190 154L1162 154L1134 126M1162 98L1134 70L1106 70L1078 70M1330 154L1302 126L1274 98L1246 98L1218 98L1190 98L1162 70M742 98L714 126L686 126L658 126M1358 154L1330 126L1302 98M854 98L826 126L798 126L770 126M966 126L938 126L910 126L882 126M1470 182L1442 182L1414 182L1386 182L1358 154L1330 154L1302 154L1274 126L1246 126L1218 126L1190 126L1162 98L1134 98L1106 98L1078 98L1050 98L1022 98L994 126L966 126L938 98L910 98L882 98L854 98L826 98L798 98L770 98L742 98L714 98L686 98L658 98L630 98L602 98L574 98L546 98' stroke='rgba(82%2c 82%2c 82%2c 1)' stroke-width='4.67'%3e%3c/path%3e%3cpath d='M539 98 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM959 98 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1127 126 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1071 70 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1155 70 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM651 126 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1295 98 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM763 126 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM875 126 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0z' fill='rgba(82%2c 82%2c 82%2c 1)'%3e%3c/path%3e%3cpath d='M1246 434L1218 462L1190 462M1442 406L1414 434L1386 434L1358 462M1330 434L1302 462L1274 462L1246 462L1218 490M1470 406L1442 406L1414 406L1386 406L1358 434L1330 434L1302 434L1274 434L1246 434L1218 434L1190 406' stroke='rgba(82%2c 82%2c 82%2c 1)' stroke-width='4.67'%3e%3c/path%3e%3cpath d='M1183 406 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1183 462 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1351 462 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1211 490 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0z' fill='rgba(82%2c 82%2c 82%2c 1)'%3e%3c/path%3e%3cpath d='M1442 154L1414 126L1386 126M1470 154L1442 154L1414 154L1386 154' stroke='rgba(82%2c 82%2c 82%2c 1)' stroke-width='4.67'%3e%3c/path%3e%3cpath d='M1379 154 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1379 126 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0z' fill='rgba(82%2c 82%2c 82%2c 1)'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1148'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cmask id='SvgjsMask1149'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3cpath d='M1242.5 322 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM1214.5 294 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM1158.5 350 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM1326.5 294 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0z' fill='black'%3e%3c/path%3e%3cpath d='M822.5 238 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM1270.5 238 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM1298.5 238 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM1102.5 238 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM822.5 266 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM906.5 266 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM1102.5 294 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0z' fill='black'%3e%3c/path%3e%3cpath d='M1326.5 350 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0z' fill='black'%3e%3c/path%3e%3cpath d='M1382.5 238 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0z' fill='black'%3e%3c/path%3e%3cpath d='M262.5 406 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM150.5 434 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM346.5 406 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM878.5 406 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM458.5 294 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM234.5 378 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM710.5 350 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM850.5 350 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM374.5 434 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM430.5 266 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM906.5 350 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM150.5 350 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0z' fill='black'%3e%3c/path%3e%3cpath d='M570.5 182 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM878.5 182 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM626.5 210 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM1326.5 182 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM1046.5 126 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM962.5 238 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM430.5 210 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM1018.5 238 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM626.5 126 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0z' fill='black'%3e%3c/path%3e%3cpath d='M1270.5 406 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0z' fill='black'%3e%3c/path%3e%3cpath d='M542.5 98 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM962.5 98 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM1130.5 126 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM1074.5 70 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM1158.5 70 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM654.5 126 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM1298.5 98 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM766.5 126 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM878.5 126 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0z' fill='black'%3e%3c/path%3e%3cpath d='M1186.5 406 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM1186.5 462 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM1354.5 462 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM1214.5 490 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0z' fill='black'%3e%3c/path%3e%3cpath d='M1382.5 154 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM1382.5 126 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0z' fill='black'%3e%3c/path%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: 100% 60%;
  background-size: 90%;
  border-radius: 0.5rem;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  color: #525252;
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;

  line-height: 1.6;
}

@media screen and (max-width: 768px) {
  .about-me {
    max-width: 600px;
    background-position: 100%;
  }
  
}

@media screen and (min-width: 768px) {
  .about-me {
    max-width: 650px;
    background-position: 100%;
  }
  
}

@media screen and (min-width: 1024px) {
  .about-me {
    max-width: 730px;
    background-position: 120% 55%;
  }
  
}

@media screen and (min-width: 1280px) {
  .about-me {
    
    max-width: 750px;
    background-position: 115% 60%;
  }
  
}

@media screen and (min-width: 1536px) {
  .about-me {
    
    max-width: 850px;
    background-size: 87%;
    background-position: 100% 55%;
  }
  
}





.about-me p {
  font-size: 1.1rem;
}

.about-me strong {
  opacity: 1;
  color: #343434;
}

.about-me em {
  font-style: italic;
  color: #555;
}

.about-me ul {
  margin: 10px 0;
  padding-left: 20px;
}

.about-me li {
  margin-bottom: 5px;
  list-style: none;
}





 
</style>