---
import '@fontsource-variable/onest';
import Header from '../components/Header.astro';
import Main from '../components/Main.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="#" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio</title>
	</head>

	<body>	
		<main>
			
			<Header/>
			<Main/>
			<Footer/>
			<slot />
		</main>
	</body>
</html>

<style is:global>

	html {
		font-family: 'Onest Variable', sans-serif;
		scroll-behavior: smooth;

	}

	body {
		background-color: #D7D7D7;
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1036%26quot%3b)' fill='none'%3e%3cpath d='M 530%2c-50.29430833945939 C 579.8%2c-31.49 759%2c6.11 779%2c43.70569166054061 C 799%2c81.31 556%2c100.11 630%2c137.7056916605406 C 704%2c175.31 1189.2%2c194.11 1149%2c231.7056916605406 C 1108.8%2c269.31 492%2c288.11 429%2c325.7056916605406 C 366%2c363.31 780.2%2c382.11 834%2c419.7056916605406 C 887.8%2c457.31 705.4%2c476.11 698%2c513.7056916605407 C 690.6%2c551.31 876.8%2c598.45 797%2c607.7056916605407 C 717.2%2c616.96 398.6%2c569.54 299%2c560' stroke='rgba(144%2c 144%2c 144%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M 415%2c-36.336772001357566 C 544.6%2c-17.54 1005.6%2c20.06 1063%2c57.663227998642434 C 1120.4%2c95.26 744.6%2c114.06 702%2c151.66322799864244 C 659.4%2c189.26 847%2c208.06 850%2c245.66322799864244 C 853%2c283.26 660.6%2c302.06 717%2c339.6632279986424 C 773.4%2c377.26 1221.6%2c396.06 1132%2c433.6632279986424 C 1042.4%2c471.26 293.4%2c490.06 269%2c527.6632279986425 C 244.6%2c565.26 1014.4%2c615.2 1010%2c621.6632279986425 C 1005.6%2c628.13 399.6%2c572.33 247%2c560' stroke='rgba(144%2c 144%2c 144%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1036'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
		background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}

	
</style>





